.auth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
}

.form-box{
    display: flex;
    justify-content: center;
    form{
        width: 80%;
    }
    input{
        height: 55px;
        width: 80%;
        background: #EEF1F5;
        border: none;
        padding-left: 10px;
    }
}
.authfooter{
    width: 100%;
    background-color: $primary;
    position: absolute;
    bottom: 0;
}

@media (max-width: 576px){
    .auth{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
   .form-box{
        form{
            width: 100%;
        }
        input{
            width: 100%;
            padding-left: unset;
        }
        button{
            width: 100%;
            padding-left: unset;
        }
   }
}